# Fake News Classifier

In [60]:
import pandas as pd

In [61]:
df=pd.read_csv('news_dataset.csv')

In [62]:
df.head()

,Unnamed: 0,title,text,subject,date,label
0,0,“NUTTY” NANCY PELOSI Refers To President Trump...,"For the second time in a matter of weeks, prog...",left-news,"Apr 30, 2017",0
1,1,"In Trump travel ban fight, Justice Kennedy's 2...",WASHINGTON (Reuters) - Justice Anthony Kennedy...,politicsNews,"February 10, 2017",1
2,2,China says opposes unilateral sanctions after ...,BEIJING (Reuters) - China s Foreign Ministry s...,worldnews,"November 22, 2017",1
3,3,U.S. condemns threat to ban Venezuela oppositi...,WASHINGTON (Reuters) - The U.S. State Departme...,worldnews,"December 12, 2017",1
4,4,LIBERAL LUNACY IN ACTION: Watch This Dirty Dem...,There was testimony today regarding illegal mi...,politics,"Feb 4, 2016",0

In [64]:
df=df.drop('Unnamed: 0',axis=1)

In [65]:
df.head()

,title,text,subject,date,label
0,“NUTTY” NANCY PELOSI Refers To President Trump...,"For the second time in a matter of weeks, prog...",left-news,"Apr 30, 2017",0
1,"In Trump travel ban fight, Justice Kennedy's 2...",WASHINGTON (Reuters) - Justice Anthony Kennedy...,politicsNews,"February 10, 2017",1
2,China says opposes unilateral sanctions after ...,BEIJING (Reuters) - China s Foreign Ministry s...,worldnews,"November 22, 2017",1
3,U.S. condemns threat to ban Venezuela oppositi...,WASHINGTON (Reuters) - The U.S. State Departme...,worldnews,"December 12, 2017",1
4,LIBERAL LUNACY IN ACTION: Watch This Dirty Dem...,There was testimony today regarding illegal mi...,politics,"Feb 4, 2016",0

In [66]:
# Get the Independent Features

X=df.drop('label',axis=1)

In [67]:
# Get the Dependent features
y=df['label']

In [68]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [70]:
X['title'][1]

"In Trump travel ban fight, Justice Kennedy's 2015 opinion looms large"

In [73]:
# We will use title for training the model

#Text Preprocesssing
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
corpus = []
for i in range(0, len(X)):
    review = re.sub('[^a-zA-Z]', ' ', X['title'][i])
    review = review.lower()
    review = review.split()
    
    review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    corpus.append(review)

In [75]:
len(corpus)

2000

In [76]:
corpus[0]

'nutti nanci pelosi refer presid trump presid bush second time sinc inaugur video'

In [77]:
#Applying Countvectorizer
#And Creating Bag of Words model
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,ngram_range=(1,3))
X = cv.fit_transform(corpus).toarray()

In [78]:
X.shape

(2000, 5000)

In [82]:
## Divide the dataset into Train and Test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

# Random FOrest

In [83]:
# implement RandomForest Classifier
from sklearn.ensemble import RandomForestClassifier
randomclassifier=RandomForestClassifier(n_estimators=200,criterion='entropy')
randomclassifier.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [84]:
predictions = randomclassifier.predict(X_test)

In [85]:
# Import library to check accuracy
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
matrix=confusion_matrix(y_test,predictions)
print(matrix)
score=accuracy_score(y_test,predictions)
print(score)

[[244  65]
 [ 14 277]]
0.8683333333333333

# Naive Bayes

In [86]:

from sklearn.naive_bayes import MultinomialNB
classifier=MultinomialNB()

In [87]:
from sklearn import metrics
import numpy as np
import itertools

In [88]:
classifier.fit(X_train, y_train)
prediction= classifier.predict(X_test)
score = metrics.accuracy_score(y_test, prediction)
score

0.8933333333333333